*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
h3{
    font-size: 1.2rem;
    font-weight: 600;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem ;
    background-color: #001a23;
    color: #e8f1f2;
}
.search{
    display: flex;
    align-items: center;
    min-width: 40%;
    justify-content: center;
    column-gap: 10px;
}
.search input{
    width: 70%;
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    background-color: #001a23;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
}
.card{    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: start;
    position: relative;
    row-gap: 10px;
    background-color: #001a23;
    border-radius: 5px;
}
.profile{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.profile img{
    height: 80px;
    border-radius: 50px;
}
.about{
    margin-top: 10px;
}
#checkProfile{
    position: absolute;
    right: 10px;
    top: 20px;
}
.info{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.info p{
    text-align: center;
}
button{
    font-family: sans-serif;
    padding: 3px 7px;
}
button:hover{
    cursor: pointer;
}
#profile-cotainer{
    width: 50%;
    box-shadow: #64646f33 0px 7px 29px 0px;
    border-radius: 5px;
}
@media(max-width:750px){
    #profile-cotainer{
        width: 80%;
    }
    .card{
        height: 60vh;
        width: 80vw;
    }
    .info{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
        column-gap: 20px;
    }
    #checkProfile{
        left: 50px;
        position: relative;
    }
}